.navbar {
    margin-bottom: 20px;
}

ul {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #e3e5ed;
}

hr {
   margin-top: 0rem;
   border-width: 2px; 
}

.book-title {
    margin-top: 10px;
}