.navbar {
    margin-bottom: 20px;
}

ul {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #e3e5ed;
}

hr {
   margin-top: 0rem;
   border-width: 2px;
   margin-bottom: 5px; 
}

.book-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

button {
    margin: 5px;
}

.book-image {
    padding: 4px;
    width: 200px;
    height: 260px;
}
.book-author {
    color: blue;
    margin-top: 0px;
    font-size: 15px;

}

.description {
    border-radius: 5px 4px 5px 4px;
    background-color: #edeeef;
    margin-top: 5px;
}

.description h5 {
    margin: 5px;
    text-decoration: underline;
    color: #072377;
}

.price {
    margin: 8px;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4e5fe5;
    color: white;
}